# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unreal
*.umap
*.uproject
*./Intermediate
*./Saved

#Intermediates
Intermediate/*

*.sdf
*.suo

#OS X
*.DS_Store
*.xcodeproj

#Misc
*.Target.cs
